.ct-text{
   
    position: absolute;

    z-index: 1;

margin-top: 3px;
color: aliceblue;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
margin-left: 200px;
 
}
.ct-image{
    position:relative;
    width: 100px;
    height: 30px;
   
}
@media only screen and (max-width: 600px) {
    .inner-box{
        
        width:1%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    .box-img2{
        width: 80px;
        
    
    }
    }

/* sliders css :crousel */
 

.crousel-div{
    width:300px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
.crousel-div{
    width: 100%;
}
}


.crousel-card:hover{
    -webkit-transform: translate(5px);
    transform: translate(5px);
    -webkit-transition: all 0.5s;
    transition: all 0.8s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


 }

.crousel-card{
 
  margin-top: 10%;
       
        height: 140px;
        width:25%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      
       
        justify-content: space-between;
        
    

}
.crousel-card>img{
    height: 100%;
    width:100%;
    
}

@media only screen and (max-width: 600px) {
 .cart-main{
    flex-wrap: wrap;
 }
 #first-box{
   
    width: 100%;
   }
   .second-box{
    width: 100%;
   }
   .item-img{
    width:100%;
  
   }
   .item-img-child{
  
    
   }

 
  }


