.ques{
    /* display:flex; */
    /* justify-content:space-between;
color:teal; */
width:100%;
margin:auto;
}
.title{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 15px;
    margin:10px 0px 10px 0px;
    cursor: pointer;
    color: rgb(98, 98, 98);
}
.FAQ{
    border: 1px solid gray;
    margin-top: 15px;
    border-radius: 10px;
}
.icon{
    color:teal;
    size:20px; 
    stroke-width:100px;
}
.ans{
    padding:0px 15px;
    max-height: 0;
    overflow: hidden;
    color: gray;
    /* transition: all 0.5s cubic-bezier(0,1,0,1); */
}
.ans.show{
    height: auto;
    margin-top: -20px;
    max-height: 100%;
    padding-top: 20px;
    font-size: 14px;
    padding-bottom: 10px;
    /* transition: all 0.1s cubic-bezier(1,0,1,0); */
}