

.dis-img{
 
    position:relative;
    margin: 3px;
   
}

.dis-text{
    position: absolute;
  bottom: 8px;
  left: 110px;
  z-index: 1;
  width:60px;
}
.main-box{
    position: relative;
}
.top-container:hover{
border: 2px solid grey;
}

.search-parent{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.searchbar{
    position: absolute;
    z-index: 1;
    
}




.lense-img{
    position: relative;
   
    width:20%
}


