.navbar {
    width: 92%;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 25px;
    gap: 15px;
    color: black;
    background-color: white;
}
.LinkDiv {
    display: flex;
    justify-content: space-between;
    width: 83%;
    height: 60px;
}
.pinButton {
    background-color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #37857e;
    font-weight: 600;
    width: 160px;
    padding-left: 10px;
}
.downArrowIcon {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 20px;
    color: rgb(40, 40, 40);
    border: none;
}
.links2 {
    display: flex;
    align-items: center;
    gap: 30px;

}
.links2Icons {
    display: flex;
    align-items: center;
}
.imageDiv{
    width: 15%;
    height: 60px;
    padding: 2px;
    /* border-right: 1px solid #b5b5b5; */
    border-radius: 15px;
}
.imageDiv img{
    width: 60%;
    height: 55px;
    border-radius: 15px;
}
.ham{
    display: none;
}


@media screen and (max-width: 468px) {
    .download{
        display: none;
    }
    .login{
        display: none;
    }
    .ham{
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .download{
        display: none;
    }
    .login{
        display: none;
    }
    .ham{
        display: block;
    }
}
.user{
    margin-right: 2vh;
    font-weight: 600;
}
.logOut{
    display: flex;
    gap: 1vh;
    align-items: center;
    font-weight: 700;
    }