.coupenHeading{
    width: 100%;
    margin: auto;
}
.coupenHeading>h1{
    font-size: 24px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}
.coupenHeading>h2{
    font-size: 18px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}
.read{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
    color: teal;
}
.ans{
    padding:0px 15px;
    max-height: 10;
    overflow: hidden;
    color: gray;
    /* transition: all 0.5s cubic-bezier(0,1,0,1); */
}
/* .ans.show{
    height: auto;
    margin-top: -20px;
    max-height: 100%;
    padding-top: 20px;
    font-size: 14px;
    padding-bottom: 10px; */
    /* transition: all 0.1s cubic-bezier(1,0,1,0); */
/* } */
.allItems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 4vh;
}
.btn{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 2vh;
}
.btn>button{
    border-radius:2vh;
    height: 4vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.offerPage{
    width:80%;
     /* border:1px solid red; */
     padding:2vh;
      margin:auto
}
@media screen and (max-width:768px) and (min-width:430px){
    .btn{
        width: 100%;
    }
    .allItems{
        grid-template-columns: repeat(1,1fr);
    }
    .coupenHeading>h1:nth-child(1), .coupenHeading>h2{
        font-size: 18px;
    }
    .ans>p{
        font-size: 14px;
    }
}
@media screen and (max-width:430px) and (min-width:0){
    .btn{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 2vh;
    }
    .offerPage{
        width: 100%;
    }
    .allItems{
        grid-template-columns: repeat(1,1fr);
    }
    .ans{
        padding: 0 5px;
    }
    .ans>p{
        font-size: 12px;
    }
    .coupenHeading>h1:nth-child(1), .coupenHeading>h2{
        font-size: 16px;
    }
}