.coupenHeading{
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    padding: 20px;
}
.coupenHeading>h1{
    font-size: 24px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}
.coupenHeading>h2{
    font-size: 18px;
    font-weight: 700;
    color: rgb(83, 83, 83);
}
.read{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
    color: teal;
}
.ans{
    padding:0px 15px;
    max-height: 10;
    overflow: hidden;
    color: gray;
    /* transition: all 0.5s cubic-bezier(0,1,0,1); */
}
/* .ans.show{
    height: auto;
    margin-top: -20px;
    max-height: 100%;
    padding-top: 20px;
    font-size: 14px;
    padding-bottom: 10px; */
    /* transition: all 0.1s cubic-bezier(1,0,1,0); */
/* } */
.allItems{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 2vh;
}
.btn{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 2vh;
}
.btn>button{
    border-radius:2vh;
    height: 4vh;
}