.offerItem{
    width: 40%;
    border: 1px solid gray;
    margin: auto;
    margin-top: 2vh;
}
.offerItem1{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    padding: 1.5vh;
    gap: 10px;
}
.offerItem1>div:nth-child(1){
width: 15%;
}
.offerItem1>div:nth-child(1)>img{
width: 100%;
}
.offerItem1>div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.offerItem1>div:nth-child(2)>p:nth-child(2){
    font-size: 12px;
    font-weight: 600;
}
.offerItem1>div:nth-child(2)>p:nth-child(1){
    font-weight: 700;
    font-size: 18px;
}
.offerItem2{
    display: flex;
    width: 100%;
    padding: 1.5vh;
    justify-content: space-between;
    font-size: 18px;
    color: gray;
}
.offerItem2>p:nth-child(2){
    color: teal;
    font-weight: 700;
}
